@import "tailwindcss";

:root {
  --text-primary: #ffffff;
  --text-secundary: #f5f5f7;

  --rosa-magenta: #ff3e9d;
  --rosa-claro: #ff6fbb;
  --lavanda: #b46cff;
  --roxo-escuro: #6c3aff;
  --lilas-profundo: #4b1fb8;
  --dourado-pastel: #ffd27a;
  --laranja: #ff9966;

  --surface-glass: 225 35% 18% / 0.75;
}

@layer utilities {
}

@layer base {
  body {
    font-family: "Poppins";
    background-image: url("background.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: var(--text-primary);

    padding: 4rem;

    @media (width <= 768px) {
      padding: 4rem 1rem;
      font-size: 0.8rem;

      h2 {
        font-size: 0.9rem;
      }
    }
  }

  h2 {
    font-family: "Poppins";
    color: var(--text-primary);
    font-size: 1.2rem;
    font-weight: 600;
  }
}
