@import "tailwindcss";

:root {
  --text-primary: #ffffff;
  --text-secundary: #f5f5f7;
  --rosa-magenta: #ff3e9d;
  --rosa-claro: #ff5fbb;
  --lavanda: #b46cff;
  --roxo-escuro: #6c3aff;
  --lilas-profundo: #4b1fb8;
  --dourado-pastel: #ffd27a;
  --laranja: #ff9966;
  
}

@layer utilities {
  .glass {
    background: hsl(0 0% 100% / 0.08);
    backdrop-filter: blur(24px);
    border: 1px solid hsl(0 0% 100% / 0.2);
    border-radius: 1.3rem;
  }
}

@layer base {

  html {
    scroll-behavior: smooth;
  }

  body {
    
    font-family: "Poppins", sans-serif;
    background-image: url("background.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: var(--text-primary);
    margin: 0;
    padding: 1rem;

    @media (min-width: 640px) {
      padding: 2rem;
    }

    @media (min-width: 1024px) {
      padding: 2.5rem;
    }
    
  }
  h2 {
    font-family: "Poppins";
    color: var(--text-primary);
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.bg-hero-gradient {
  background: linear-gradient(135deg, rgba(75, 31, 184, 0.9) 0%, rgba(180, 108, 255, 0.8) 50%, rgba(255, 62, 157, 0.9) 100%);
  background: hsl(0 0% 100% / 0.09);
  backdrop-filter: blur(5px);
  border: 1px solid hsl(0 0% 100% / 0.2);
  border-radius: 1.3rem;

  --surface-glass: 225 35% 18% / 0.75;
}
